.slider-container {
  position: relative;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;

  .slider-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    font-size: 5em;

    &:hover {
      color: rgba(255, 255, 255, 0.8);
    }
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
}
